/* =====================
   GLOBAL SAFETY
===================== */
.home {
  background: #ffffff;
  width: 100%;
  overflow-x: hidden;
}
:root {
  --green: #1e7f4f;
  --green-light: #eaf6f0;
  --black: #111111;
  --font:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --parafont:"Poppins", sans-serif
}

/* =====================
   SLIDER (SWIPER WRAPPER)
===================== */
.home-slider {
  position: relative;
  width: 99%;
  height: 580px;
  overflow: hidden;
  margin-top: 100px;
}

/* force swiper to respect height */
.home-slider .swiper,
.home-slider .swiper-wrapper,
.home-slider .swiper-slide {
  height: 100%;
}

/* =====================
   CUSTOM SLIDE BASE
===================== */
.custom-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* =====================
   SLIDE BACKGROUNDS
===================== */
.slide-homeopathy {
  background: url("../asessts/background/bg-homeopathy.png") center / cover no-repeat;
}

.slide-naturopathy {
  background: url("../asessts/background/bg-naturopathy.png") center / cover no-repeat;
}

.slide-acupuncture {
  background: url("../asessts/background/bg-accupunture.png") center / cover no-repeat;
}

.slide-diet {
  background: url("../asessts/background/bg-diet.png") center / cover no-repeat;
}

.slide-cupping {
  background: url("../asessts/background/bg-cupping.png") center / cover no-repeat;
}
.slide-mental {
  background: url("../asessts/background/bg-mental_health.jpg") center/ cover no-repeat;
}
.slide-healing {
  background: url("../asessts/background/bg-healing.jpg") center/ cover no-repeat;
}
.slide-ozone {
  background: url("../asessts/background/bg-ozone.jpg") center/ cover no-repeat;
}

.slide-hospital {
  background: url("../asessts/background/bg-hosipital.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

/* =====================
   GRADIENT OVERLAY
===================== */
.slide-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(33, 87, 28, 0.65) 0%,
    rgba(33, 87, 28, 0.45) 35%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.slide-overlay.from-left {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    rgba(33, 87, 28, 0.65) 0%,
    rgba(33, 87, 28, 0.45) 35%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
/* =====================
   SLIDE CONTENT
===================== */
.slide-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 60px;
  display: flex;
  align-items: center;
  gap: 60px;
}

/* text */
.slide-text {
  flex: 1;
}

.slide-text h1 {
  font-size: 54px;
  color: #fff;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: var(--font);
}


.slide-text p {
  font-size: 28px;
  line-height: 1.4;
  color: #fff;
  font-family: var(--parafont)
}

/* image */
.slide-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.slide-image img {
  width: 100%;
  max-width: 420px;
  border-radius: 8px;
  display: block;
}

/* =====================
   LAYOUT DIRECTION
===================== */
.left-text {
  flex-direction: row;
}
.left-text .slide-text {
  text-align: left;
}
.left-text .slide-text h1,
.left-text .slide-text p {
  margin-left: 0;
  margin-right: auto;
}

.right-text {
  flex-direction: row-reverse;
}
.right-text .slide-text {
  text-align: right;
}

.right-text .slide-text h1,
.right-text .slide-text p {
  margin-left: auto;
  margin-right: 0;
}

/* =====================
   DOCTOR SECTION
===================== */
.doctor-section {
  display: flex;
  gap: 60px;
  padding: 80px;
  align-items: center;
  
}

.doctor-text {
  flex: 1;
  font-family: var(--font);
}

.doctor-image img {
  width: 420px;
  border-radius: 6px;
}



@media (max-width: 1023px) and (min-width: 768px) {
  .home-slider {
    height: 480px;
  }

  .slide-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
  }
  .slide-text p {
    font-size: 24px;
    max-width: 100%;
  }
  .slide-text h1 {
    font-size: 54px;
  }

  .slide-image img {
    max-width: 480px;
  }
}

/* =====================
   MOBILE
===================== */
@media (max-width: 767px) {
  .slide-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right,
      rgba(15, 93, 8, 0.65) 0%,
      rgba(15, 93, 8, 0.65) 35%,
      rgba(15, 93, 8, 0.65) 70%,
      rgb(237, 236, 236,0.5) 100%
    );
    z-index: 1;
  }
  .slide-overlay.from-left {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to left,
      rgba(45, 137, 36, 0.65) 0%,
      rgba(15, 93, 8, 0.65) 35%,
      rgba(15, 93, 8, 0.65) 70%,
       rgb(237, 236, 236) 100%
    );
    z-index: 1;
  }
  .home-slider {
    height: 300px;
  }

  .slide-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }

  .slide-text p {
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  .slide-text h1 {
    text-align: center;
    font-size: 24px;
  }

  .slide-image img {
    max-width: 280px;
  }

  .doctor-section {
    flex-direction: column;
    text-align: center;
  }

  .doctor-image img {
    width: 100%;
    max-width: 320px;
  }
}
/* =====================
   OUR DOCTORS – PROFILE STYLE
===================== */
.our-doctors {
  padding: 100px 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.our-doctors .section-title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 80px;
  font-weight: 600;
  font-family: var(--font);
}

.doctor-profile {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 120px;
}

.doctor-profile.reverse {
  flex-direction: row-reverse;
}

.doctor-details {
  flex: 1;
  font-family: var(--parafont);
}

.doctor-name {
  font-size: 28px;
  letter-spacing: 0px;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.doctor-qualifications {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #1e7f4f;
}

.doctor-details p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 18px;
  color: #111;
  font-family: var(--parafont)
}

.read-more-btn {
  margin-top: 30px;
  padding: 14px 38px;
  border: 1.5px solid white;
  background: transparent;
  background-color: #1e7f4f;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.read-more-btn:hover {
  background: #1e7f4f;
  color: #ffffff;
}

.doctor-portrait {
  flex: 1;
  display: flex;
  justify-content: center;
}

.doctor-portrait img {
  width: 100%;
  max-width: 560px;
  object-fit: cover;
}

/* =====================
   TABLET
===================== */
@media (max-width: 1023px) {
  .our-doctors {
    padding: 80px 40px;
  }

  .doctor-profile {
    gap: 60px;
  }

  .doctor-portrait img {
    max-width: 440px;
  }
}

/* =====================
   MOBILE
===================== */
@media (max-width: 767px) {
  .doctor-profile,
  .doctor-profile.reverse {
    flex-direction: column;
    text-align: center;
    flex-direction: column-reverse;
    line-height: 2px;
    gap:0;
  }

  .doctor-portrait img {
    max-width: 320px;
  }
.doctor-name{
  line-height: 35px;
}
  .our-doctors .section-title {
    font-size: 26px;
  }
  .our-doctors {
    position: relative;
    background: linear-gradient(
      to bottom,
      rgba(33, 87, 28, 0) 0%,
      rgba(33, 87, 28, 0) 35%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
.our-doctors {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(33, 87, 28, 0.3) 0%,
    rgba(33, 87, 28, 0.45) 35%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.15) 100%
  );
}
