/* =====================
   FOOTER BASE
===================== */

:root {
  --green: #1e7f4f;
  --green-light: #eaf6f0;
  --black: #111111;
  --font:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer {
  background: linear-gradient(135deg, #0f3d2a, #1e7f4f);

  color: white;

  padding-top: 60px;
}

/* =====================
   CONTAINER
===================== */

.footer-container {
  max-width: 1200px;

  margin: auto;

  display: grid;

  grid-template-columns: 1.2fr 1fr 1fr;

  gap: 40px;

  padding: 0 20px 40px;
  font-family: var(--font);
}

/* =====================
   SECTIONS
===================== */

.footer-section h3 {
  margin-bottom: 20px;

  font-size: 18px;
}

/* =====================
   LEFT
===================== */

.footer-logo {
  width: 160px;

  margin-bottom: 15px;

  cursor: pointer;
}

.footer-desc {
  font-size: 20px;

  line-height: 1.6;
  font-family: var(--font);
  color: rgba(255, 255, 255, 0.85);
}

/* =====================
   LINKS
===================== */

.footer-links {
  list-style: none;

  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;

  cursor: pointer;

  font-size: 20px;

  transition: 0.3s;
}

.footer-links li:hover {
  color: #8bc34a;

  transform: translateX(4px);
}

/* =====================
   SOCIAL
===================== */

.footer-social {
  display: flex;

  flex-direction: column;

  gap: 12px;
}

.footer-social a {
  color: white;

  text-decoration: none;

  font-size: 14px;

  transition: 0.3s;
}

.footer-social a:hover {
  color: #8bc34a;

  transform: translateX(4px);
}

/* =====================
   BOTTOM BAR
===================== */

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  text-align: center;

  padding: 18px;

  font-size: 13px;

  color: rgba(255, 255, 255, 0.8);
}

/* =====================
   TABLET
===================== */

@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* =====================
   MOBILE
===================== */

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .footer-social {
    align-items: center;
  }

  .footer-links li:hover {
    transform: none;
  }
}
