:root {
  --green: #1e7f4f;
  --opacitygreen: #1e7f4e85;
  --green-light: #eaf6f0;
  --black: #111111;
  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --parafont: "Poppins", sans-serif;
  --textColor: #1b235a;
}

.footer {
  background: linear-gradient(
    to left,
    rgba(15, 93, 8, 0.9),
    rgba(15, 93, 8, 0.7),
    rgba(15, 93, 8, 0.9)
  );

  color: white;

  padding-top: 60px;
}

/* GLASS PANEL */

.footer-glass {
  max-width: 1200px;

  margin: auto;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 40px;
}

/* GRID */

.footer-container {
  display: grid;

  grid-template-columns: 1.5fr 1fr 1fr;

  gap: 40px;
}

/* LOGO */

.footer-logo {
  width: 160px;

  cursor: pointer;

  margin-bottom: 15px;
  align-items: center;
}

/* TEXT */

.footer-desc {
  color: rgba(255, 255, 255, 0.85);

  line-height: 1.6;

  margin-bottom: 20px;
  font-family: var(--font);
  font-weight: bold;
  font-size: 18px;
}

/* CONTACT INFO */

.footer-contact {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.footer-contact a {
  color: white;

  text-decoration: none;

  display: flex;

  align-items: center;

  gap: 10px;
  font-family: var(--parafont);
}

/* .footer-contact a:hover {
  color: #8bc34a;
} */

/* LINKS */

.footer-links {
  list-style: none;
font-family: var(--parafont);
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
font-family: var(--parafont);
  cursor: pointer;
}

.footer-links li:hover {
  color: #8bc34a;
}

/* SOCIAL */

.footer-social {
  display: flex;

  gap: 15px;
}
.footer-section{
  font-family: var(--font);
}

.social-circle {
  width: 42px;

  height: 42px;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.15);

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  transition: 0.3s;

  color: white;
}

.social-circle:hover {
  background: #8bc34a;

  transform: translateY(-4px);
}

/* BOTTOM */

.footer-bottom {
  text-align: center;

  padding: 20px;

  margin-top: 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* MOBILE */

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .footer-contact a {
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}
