/* =========================
   TESTIMONIAL SECTION FULL SCREEN
========================= */
:root {
  --green: #1e7f4f;
  --green-light: #eaf6f0;
  --black: #111111;
  --font:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --parafont:"Poppins", sans-serif
}
.testimonials {
  position: relative;
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  overflow: hidden;
}


/* =========================
   BACKGROUND IMAGE LAYER
========================= */

.testimonials-bg {
  position: absolute;
  inset: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: 1;
}

/* optional light overlay for readability */
.testimonials-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to right,
      rgba(15, 93, 8, 0.4) 0%,
      rgb(237, 236, 236,0.5) 35%,
      rgba(15, 93, 8, 0.2) 70%,
      rgb(237, 236, 236,0.5) 100%
    );
}


/* =========================
   CONTENT LAYER
========================= */

.testimonials-content {
  position: relative;
  z-index: 2;

  width: 90%;
  max-width: 1300px;
padding-bottom: 200px;
  margin: auto;
}


/* =========================
   HEADINGS
========================= */

.subtitle {
  color: var(--green);
    font-size : 24px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: var(--parafont);
    font-weight: 500;
}

.title {
  font-size: 42px;
  margin-bottom: 50px;
  font-weight: 600;
  color: #1c2b4a;
  font-family: var(--font)
}


/* =========================
   REVIEW CARD
========================= */

.review-card {
  background: white;
  padding: 12px;
  border-radius: 8px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.1);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}


/* =========================
   REVIEW IMAGE
========================= */

.review-card img {
  width: 100%;
  height: 300px;

  object-fit: contain;

  border-radius: 6px;
}


/* =========================
   SWIPER PAGINATION
========================= */

.swiper-pagination {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #1e7f4f;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1024px) {

  .title {
    font-size: 34px;
  }

  .review-card img {
    height: 260px;
  }

}

@media (max-width: 768px) {

  .testimonials {
    height: auto;
    padding: 80px 0;
  }

  .title {
    font-size: 28px;
  }

  .review-card img {
    height: 240px;
  }

}

@media (max-width: 480px) {

  .review-card img {
    height: 220px;
  }

}
