:root {
  --green: #1e7f4f;
  --green-light: #eaf6f0;
  --black: #111111;
  --font:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --parafont:"Poppins", sans-serif
}

.about-section {
  padding: 80px 20px;
}

/* TOP SECTION */

.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.about-content {
  flex: 1;
  font-family: var(--parafont);
}

.about-subtitle {
  color: var(--green);
    font-size : 24px;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: var(--parafont);
    font-weight: bold;
}

.about-title {
  font-size: 48px;
  font-weight: 600;
  color:#1c2b4a;
  margin:0;
  text-transform: uppercase;
  font-family: var(--font);
}

.about-text {
  font-size: 20px;
  line-height: 1.5;
  color: #555;
  font-family: var(--parafont);
}

/* TABS */

.about-tabs-section {
  max-width: 1000px;
  margin: 80px auto;
}

.tabs-header {
  display: flex;
  justify-content: center;
  gap: 40px;

  border-bottom: 1px solid #ddd;
  
}

.tabs-header button {
  border: none;
  background: none;

  padding: 12px 0;

  color: #888;
  cursor: pointer;

  letter-spacing: 2px;

  transition: 0.3s;
}

.tabs-header button.active {
  color: #1e7f4f;
  border-bottom: 2px solid #1e7f4f;
  font-size: 20px;
}

.tabs-content {
  padding-top: 25px;
 font-size: 18px;
  font-weight: 600;
  color:#1c2b4a;
  margin:0;
  text-transform: uppercase;
  font-family: var(--parafont);
  transition: 0.3s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.tabs-content li {
  margin-bottom: 12px;
}

/* COLLAGE GALLERY */

.gallery-section {
  width: 100%;
  margin: auto;

  text-align: center;
  
}

.gallery-title {
   font-size: 38px;
  font-weight: 700;
  /* margin-bottom: 12px; */
  color: #1b235a;
  font-family: var(--font);
  text-transform: uppercase;
}

.gallery-bg {

  background: linear-gradient(
    to left,
    rgba(45, 137, 36, 0.65) 0%,
    rgba(15, 93, 8, 0.65) 35%,
    rgba(15, 93, 8, 0.65) 70%,
    rgb(237, 236, 236) 100%
  );

  padding: 60px 20px;

  border-radius: 20px;

  max-width: 1200px;
  margin: auto;

}
.gallery-slider {
    display: none;
}

.collage-item {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 10px;

  transition: 0.3s;
}

.collage-item:hover {
  transform: scale(1.05);
}

.item-large {
  grid-column: 2/4;
  grid-row: 1/3;
}

.item-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.item-2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.item-3 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.item-4 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.item-5 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.item-6 {
  grid-column: 4/5;
  grid-row: 2/4;
}

.gallery-more {
  margin-top: 45px;
}

.gallery-more a {
  color: white;
  text-decoration: none;
  background-color:rgba(45, 137, 36, 0.65);
  padding: 30px;
  text-align: center;
  font-size: 18px;
  font-family: var(--parafont);
  font-weight: bold;
  border-radius: 20px;
}
.gallery-subtitle{
    color: var(--green);
    font-size : 24px;
    letter-spacing: 2px;
    font-family: var(--parafont);
    font-weight: bold;
}
.mobile-gallery {
    display: none;
}
.desktop-gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    gap:15px;
}
.tab-gallery{
    display: none;
}
/* RESPONSIVE */

@media (max-width: 1023px) {
    .desktop-gallery{
    display: none;
  }
  .mobile-gallery{
    display: none;
  }
  .gallery-slider{
    display: block;
  }
  .slider-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  .swiper-pagination-bullet-active {

  background: #1e7f4f;

}
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
  .about-title{
    text-align: center;
    font-size: 38px;
  }

  .about-subtitle{
    text-align: center;
  }
.tabs-header button{
    font-size: 8px;
}
  .collage-grid {
    
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .collage-item{
    margin-top: 20px;
  }
    .collage-item,
  .item-large,
  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-5,
  .item-6 {

    grid-column: auto !important;
    grid-row: auto !important;

    width: 100%;
    height: 250px;

  }
  .desktop-gallery{
    display: none;
  }
  .mobile-gallery{
    display: block;
  }
}
